* {
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', serif;
	
}

h1,p {
	text-align: center;
	color: ghostwhite;
}

body::before{
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:linear-gradient(90deg, rgba(255,0,0,0.5) 0%, rgba(0,0,0,0.5) 47%, rgba(115,0,0,0.5) 96%) ,url(img/SquitGem.jpg);
	z-index: -1;
	background-size: cover;
}

form {
	max-width: 600px;
	margin: 0 auto;
	background: rgba(89, 36, 180, 0.7);
	padding: 20px 40px;
	border-radius: 6px;
	color: ghostwhite;
}

label {
	margin-bottom: 26px;
	display: block;
}


input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
	margin-top: 10px;
	height: 40px;
	width: 100%;
	border-radius: 6px;
	border: 0;
	padding: 10px;
	font-family: inherit;
}

textarea {
	height: 100px;
}

button {
	width: 100%;
	height: 35px;
	background: lawngreen;
	color: gray;
	border: 0;
	border: 6px;
}